<footer [ngStyle]="{'display':'flex','align-content':'center','justify-content': 'space-around'}" >
  <div>
    <p>&copy; 2023 FaynoZNO. All rights reserved.</p>
  </div>

  <div [ngStyle]="{'display':'flex','flow-direction':'row'}">

    <div [ngStyle]="{'padding-right':'15px'}">
      <a routerLink="/home" routerLinkActive="activeMenu" >Головна сторінка</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/math" routerLinkActive="activeMenu" >Математика</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/ukrainian" routerLinkActive="activeMenu" >Українська</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/materials" routerLinkActive="activeMenu" >Матеріали</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a [routerLink]="['/blog/1']" routerLinkActive="activeMenu" >Блог</a></div>

  </div>
</footer>
