<footer fxLayout="row" fxLayoutAlign="space-between center" >
  <div>
    <p>&copy; 2023 FaynoZNO. All rights reserved.</p>
  </div>

  <div  fxLayout="row" fxLayout.lt-sm="column">

    <div [ngStyle]="{'padding-right':'15px'}">
      <a routerLink="/home" routerLinkActive="activeMenu" >Головна сторінка</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/math" routerLinkActive="activeMenu" >Математика</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/ukrainian" routerLinkActive="activeMenu" >Українська</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a routerLink="/materials" routerLinkActive="activeMenu" >Матеріали</a></div>
    <div [ngStyle]="{'padding-right':'15px'}">
    <a [routerLink]="['/blog/1']" routerLinkActive="activeMenu" >Блог</a></div>

  </div>
</footer>
