


button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}
.show-menu {
  background-color: pink;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 200px;
  z-index: 1000;
}


div>div {
  padding: 10px;
}

div>div:hover {
  background-color: white;
}

.activeMenu{
  background-color: white;
}
